<section id="mainContent">
    <header>
        <h1>SIWES E-Logbook</h1>
        <nav>
            <ul>
                <li>
                    <div class="loginDropdown">
                        Login
                        <div class="dropDownContent">
                            <a href="/">Student Login</a>
                            <a href="/supervisors/login">Supervisor Login</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="registerDropdown">
                        Register
                        <div class="dropDownContent" id="registerDropdownContent">
                            <a href="/students/register">Student</a>
                            <a href="/supervisors/register">Supervisor</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <form action="/students/login" method="POST" name="loginForm">
        <h2>Student Login</h1>
        <div class="iconContainer">
            <i class="material-icons" id="userIcon">person</i>
        </div>
        <div class="inputSections">
            <label for="regNo"><strong>Registration Number</strong></label>
            <input type="text" id="regNo" name="regNo" class="inputs" placeholder="RegNo..." autofocus>
        </div>
        <div class="inputSections">
            <label for="password"><strong>Password</strong></label>
            <input type="password" id="password" name="password" class="inputs" placeholder="Enter Password...">
        </div>
        <div class="inputSections">
            <button type="submit" name="loginButton">Login</button>
        </div>
    </form>
</section>