<nav>
    <ul id="mainLinks">
        <li><a class="links" href="#">My Students</a></li>
        <li><a class="links" href="#">Home</a></li>
        <li><a class="links" id="logout" href="#">Logout</a></li>
    </ul>
</nav>
<p id="welcomeText">Welcome Mesaage</p>
<section>
    <p id="listHeader">My Students</p>

    {{#if record}}
        <ul class="studentList">
            {{#each record}}
                <li class="students"><a href="/supervisors/studentRecord/{{this._id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    {{/if}}
</section>
<footer>
    <hr width="85%">
    <br>
    <br>
    &copy Student Industrial Work Experience Scheme 2018 - All Rights Reserved
</footer>
