<nav>
    <ul id="mainLinks">
        <li><a class="links" href="#">My Students</a></li>
        <li><a class="links" href="#">Home</a></li>
        <li><a class="links" id="logout" href="#">Logout</a></li>
    </ul>
</nav>
<p id="welcomeText">Welcome Mesaage</p>
<section>
    <p id="listHeader">My Students</p>
        <ul class="studentList">
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
        <li  class="students"><a href="#">Lorem ipsum dolor sit amet.</a></li>
    </ul>
</section>
<footer>
    <hr>
    <br>
    <br>
    &copy Student Industrial Work Experience Scheme 2018 - All Rights Reserved
</footer>
