<section id="background">

</section>
<section>
    <header>
        <h1>Electronic Logbook System for SIWES</h1>
    </header>
    <nav><a href="/">Student Login</a></nav>
    <form name="loginForm" method="POST">
            <p id="formHeader">Supervisor Login</p>
        <div class="inputSections" id="usernameDiv">
            <label for="username" >Username</label><br>
            <input type="text" id="username" name="username" class="inputField" placeholder="Supervisor Username" autofocus><br>
            <span id="usernameErrorMessage">Please enter your username</span><br>
        </div>
        <div class="inputSections" id="passwordDiv">
            <label for="password" >Password</label><br>
            <input type="password" id="password" name="password" class="inputField" placeholder="Password here"><br>
            <span id="passwordErrorMessage">Please enter your password</span><br>
        </div>
        <button name="loginButton" type="submit">Login</button>
        <p id="registerParagraph">Are you a Supervisor? <a href="register">Register</a></p>
    </form>
</section>
        